body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.search-nav {
    display: grid;
    grid-template-columns: 136px auto 1fr;
    align-items: center;
    padding: 20px 24px;
}

.logo {
    width: 92px;
    height: 100%;
    margin-top: 5px;
}

.search-bar-group {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    width: 665px;
    height: 44px;
    border: 1px solid #dfe1e5;
    padding: 0 8px 0 18px;
    border-radius: 50px;
}

[type="search"] {
    border: none;
    margin-bottom: 2px;
}

[type="search"]::placeholder {
    color: rgb(48, 48, 48);
    opacity: 1;
}

.search-bar-group button {
    background-color: transparent;
    border: none;
}

.search-clear {
    color: #80868b;
}

.search-submit {
    color: #4285f4;
}

.personalise-options {
    justify-self: right;

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    justify-content: start;
    align-items: center;
}

.apps-icon {
    color: #5f6368;
}

.sign-in-button {
    background-color: #2b7de9;
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 4px;
    font-size: 14px;
}

.results-settings-nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 94px;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding-left: 168px;
    font-size: 12px;
}

.results-settings-nav a {
    color: #5f6368;
}

.results-nav {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: start;
}

.results-nav a {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2px;
    justify-content: start;
    align-items: center;
    padding: 4px 12px 12px 12px;
}

.results-nav a.highlighted {
    color: #1A73E8;
    border-bottom: 3px solid #1A73E8;
}

.results-nav .material-icons, .results-settings-nav .material-icons-outlined {
    font-size: 18px;
}

.settings-nav {
    padding-bottom: 9px;
}

.tools-button {
    background-color: transparent;
    color: #5f6368;
    margin-left: 16px;
    border: none;
}